body{      
    background-image: url("bubble.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    margin:15px;
    }   
h1
{
    color :white;
    font-family: sans-serif;
    border-top-style:solid;
    border-bottom-style:solid;
    border-right-style:outset;
    border-left-style:double;
    border-left-width:12px;
    border-color: goldenrod;
    padding:3px;
}
p{
    color:white;
    
    font-family: sans-serif;
}
#p1
{
    color:yellow;
    margin: 20px;
}
.even
{
    color:blue;
    background: linear-gradient(to right,green,black);
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-style:italic;
    font-weight:bold;
    text-decoration:dotted underline;
    font-size:20px;
}
.odd{
    color:green;
    background: linear-gradient(to right,blue,black);
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-weight:bold;
    text-decoration:underline;
    font-size:25px;
}
#p2
{

    border-style:outset;
    border-width: 15px;
    border-color:yellow;
    border-radius:15px;
    padding:5px;
}

#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size:20px;
    background-color:darkblue;
    padding:10px;
    margin : auto;
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size:20px;
    background-color:darkgreen;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    height:100px;
    width:100px;
    margin:auto;
    margin-top:40px;
    border: 10px solid;
    background-color: orange;
    padding:50px;
    float:left;

}
