<!DOCTYPE html>

<html>
    <head>
        <title>My Website</title>
        <link rel="stylesheet" href = "new.css">
    </head>
    <body>
        <h1>This is my Website</h1>
        <p>Hello World!</p>
        <p>Hello World!</p>
        <p>Hello World!</p>
        <p id = "p1">Hello World!</p>
        <h1>This is the class in css!</h1>
        <p class = "even">even</p>
        <p class = "odd">odd</p>
        <p class = "even">even</p>
        <p class = "odd">odd</p>
        <p id = "p2">Consistent daily habits serve as the quiet engine behind every significant personal achievement. While grand visions and ambitious goals provide the destination, small, repeated actions supply the fuel required to complete the journey. When you commit to minor improvements each day, the cumulative effect compounds silently over months and years into extraordinary results. Ultimately, mastering your routine transforms distant aspirations into inevitable outcomes.</p>

        <div id="box1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sapiente optio quae nesciunt dolorem possimus. Nam natus nihil labore blanditiis, architecto laborum, aperiam sequi repellendus officiis non nostrum quos reprehenderit.</div>
        <div id="box2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sapiente optio quae nesciunt dolorem possimus. Nam natus nihil labore blanditiis, architecto laborum, aperiam sequi repellendus officiis non nostrum quos reprehenderit.</div>       


        //floating

        <div class = "container">box1</div>
        <p id = "p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sapiente optio quae nesciunt dolorem possimus. Nam natus nihil labore blanditiis, architecto laborum, aperiam sequi repellendus officiis non nostrum quos reprehenderit.</p>
 

    </body>
</html>